{{include('inc/header.html.twig')}}
<h1>Gonderi Olusturun veya Duzenleyin</h1>
<div class="container">
<p class="list-group-item"><a href="{{ absolute_url(asset(''))  }}post" class="btn btn-success">Geri</a></p>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

 


	
</div>